---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
		<h1>Hi, I'm Nick</h1>
		<p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus finibus, enim nec malesuada faucibus, nulla magna maximus massa, eu laoreet nisi magna a augue. Proin in feugiat felis. Mauris vestibulum ac urna a elementum. Nam a elit ligula. Curabitur tristique dictum aliquet. Sed aliquet, metus vitae auctor accumsan, neque ligula ultricies ante, nec faucibus leo orci vestibulum tortor. Sed malesuada ante facilisis purus maximus efficitur. Sed at ligula cursus, fermentum eros sit amet, tincidunt tortor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean consectetur, ex id luctus venenatis, lectus diam porta est, porta posuere sem lectus nec justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla quis fringilla ipsum. Mauris ac fringilla lorem, ac consequat justo. Praesent id bibendum massa. 
		</p>
	</main>
</Layout>
