---
import VoxelArt from "../components/VoxelArt";
import Layout from "../layouts/Layout.astro";
import LastName from "../components/LastName";
import Avatar from "../components/Avatar.astro";
---

<Layout>
  <main class="sm:px-4 px-2 py-4">
    <div class="flex md:flex-row flex-col-reverse justify-between">
      <section class="sm:ml-12 ml-auto md:pr-2 py-4">
        <h1 class="text-4xl font-extrabold pb-2 text-black dark:text-white">
          <Avatar style="sm:block inline-block align-baseline" />
          Hi, I'm <span class="text-green-700 text-5xl lg:inline block"
            >Nick&nbsp;<LastName client:idle /></span
          >
        </h1>
        <p class="text-lg text-black dark:text-white">
          I am an undergraduate student studying Computer Science at <span
            class="font-bold">California Polytechnic State University.</span
          >
          <br />
          I am a <span class="font-bold">Student Lead</span> for the Service Desk
          at <span class="font-bold"
            >Cal Poly Information Technology Services.</span
          >
          <br />
          I like web and fullstack development, data analysis, machine learning,
          and optimization.
        </p>
      </section>
      <div class="min-h-96 h-96 md:min-w-2/5 min-w-full">
        <VoxelArt client:only="react" />
      </div>
    </div>
  </main>
</Layout>
