---
import VoxelArt from "../components/VoxelArt";
import Layout from "../layouts/Layout.astro";
import LastName from "../components/LastName";
import { Image } from "@astrojs/image/components";
import Headshot from "../assets/headshot.jpeg";
---

<Layout>
  <main class="sm:px-4 px-2 py-4">
    <div class="flex md:flex-row flex-col-reverse">
      <section class="sm:pl-9 px-2 md:pr-2 py-4 min-w-1/2">
        <h1 class="text-4xl font-extrabold pb-2 text-black dark:text-white transition-colors">
          <div
            class="sm:block inline-block align-baseline mx-2 rounded-full border-4 w-fit h-fit border-black dark:border-neutral-300 overflow-hidden"
          >
            <Image width={128} height={128} src={Headshot} alt="Headshot" />
          </div>
          Hi, I'm <span class="text-green-700 text-5xl lg:inline block"
            >Nick&nbsp;<LastName client:idle /></span
          >
        </h1>
        <p class="text-lg text-black dark:text-white">
          I am an undergraduate student studying Computer Science at <span
            class="font-bold">California Polytechnic State University.</span
          >
          <br />
          I am a <span class="font-bold">Student Lead</span> for the Service Desk
          at <span class="font-bold"
            >Cal Poly Information Technology Services.</span
          >
          <br />
          I like web and fullstack development, data analysis, machine learning,
          and optimization.
        </p>
      </section>
      <div class="min-h-96 h-96 min-w-1/2">
        <VoxelArt client:only="react" />
      </div>
    </div>
  </main>
</Layout>
