---
import { AiOutlineGithub, AiFillLinkedin } from "react-icons/ai/index.js";
---

<footer class="justify-self-end">
  <div
    class="flex flex-row max-w-xl mx-2 mt-4 mb-2 justify-between items-end"
  >
    <p class="font-mono text-gray-500 dark:text-gray-500 text-xs">
      © {new Date().getFullYear()} Nick Bukovec.
    </p>
    <!-- <div class="flex flex-row gap-2">
      <a
        href={"https://github.com/buk0vec/personal-website"}
        target="_blank"
        class="group"
        aria-label="Github"
        title="Github"
      >
        <AiOutlineGithub
          size={32}
          className="dark:fill-white group-hover:fill-slate-600 dark:group-hover:fill-slate-300"
        />
      </a>
      <a
        href={"https://www.linkedin.com/in/bukovec/"}
        target="_blank"
        class="group"
        aria-label="LinkedIn"
        title="LinkedIn"
      >
        <AiFillLinkedin
          size={32}
          className="dark:fill-white group-hover:fill-slate-600 dark:group-hover:fill-slate-300"
        />
      </a>
    </div> -->
  </div>
</footer>
