---
interface Props {
  status: 'Complete' | "WIP"
}

const { status } = Astro.props
---

<div class={`rounded-md border-2 ${status === 'Complete' ? 'bg-green-300 border-green-400' : 'bg-yellow-500 border-yellow-400'}`}>
  <p class='m-0 p-2 text-sm text-green-800'>Status: {status}</p>
</div>