---
import Layout from "./Layout.astro";
---

<Layout title="About" description="A brief description of myself" type="article">
  <main class="prose dark:prose-invert mx-auto px-4 sm:px-0">
    <slot />
  </main>
</Layout>
