---
import DarkToggle from "../components/DarkToggle";
import Footer from "../components/Footer.astro";

export interface Props {
  title?: string;
  description: string;
}

const { title, description } = Astro.props;
---

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
</script>

<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title ? `${title} - ` : ""}Nick Bukovec</title>
    <script defer type="text/partytown" src="/_vercel/insights/script.js"></script>
  </head>
  <body
    class="w-full bg-gradient-to-b from-teal-100 to-rose-100 bg-fixed h-full min-h-full bg-no-repeat dark:from-slate-800 dark:to-dark-indigo mt-4"
  >
    <div
      class="flex flex-row justify-between md:mx-auto mx-4 max-w-xl items-center pb-4 px-4 sm:px-0"
    >
      <nav class="flex flex-row items-baseline gap-4 justify-center">
        <a
          href="/"
          rel="prefetch"
          class="text-xl font-semibold text-black hover:text-purple-900 dark:text-white"
          >Home</a
        >
        <a
          href="/about"
          rel="prefetch"
          class="text-xl font-semibold text-black hover:text-purple-900 dark:text-white"
          >About</a
        >
        <a
          href="/portfolio"
          rel="prefetch"
          class="text-xl font-semibold text-black hover:text-purple-900 dark:text-white"
          >Portfolio</a
        >
      </nav>
      <DarkToggle client:load />
    </div>
    <slot />
    <Footer />
  </body>
</html>
