---
import Layout from "./Layout.astro";
---

<Layout title="Freelance policies" description="Freelance web development policies and terms" type="article">
  <main class="prose dark:prose-invert md:mx-auto mx-4">
    <slot />
  </main>
</Layout>
