---
import SortableCardList from "../../components/SortableCardList";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { getImage } from "astro:assets";
import InvertSort from "../../components/InvertSort";
import SortMethodSlider from "../../components/SortMethodSlider";

const allProjects = await getCollection("portfolio");

const projectsWithCardImages = await Promise.all(
  allProjects.map(async (p) => ({
    ...p.data,
    slug: p.id,
    imgProps: p.data.image
      ? await getImage({
          src: "/" + p.data.image,
          alt: p.data.title,
          height: 200,
          width: 616,
          fit: "cover",
          position: "entropy",
        })
      : null,
  }))
);
---
<Layout title="Portfolio" description="A collection of my development projects." type='website'>
  <main class="max-w-[65ch] sm:mx-auto mx-4">
    <h1 class="text-4xl font-extrabold dark:text-white">Portfolio</h1>
    <div class="flex flex-row justify-between items-baseline py-2">
      <SortMethodSlider client:idle />
      <InvertSort client:idle />
    </div>
    { /* @ts-expect-error */}
    <SortableCardList data={projectsWithCardImages} client:load />
  </main>
</Layout>
